<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <!--My title-->
    <title>@ViewData["Title"]</title>
    <!--Bootstrap css that was brought in-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--My CSS-->
    <link href="~/css/styling.css" rel="stylesheet" />
    <!--Icon for the webpage tab-->
    <link rel="icon" href="img/funny-icon-27.png">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!--Bootstrap JS-->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--Jquery file-->
    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <!--Javascript File for the forms-->
    <script src="~/js/JavaFile.js"></script>

</body>
</html>
