@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Connor Elder's Website";
}

<nav>
    <a asp-controller="Organize" asp-action="Index">Home</a>
    <a asp-controller="Organize" asp-action="Calculator">Calculate Grade</a>
</nav>

<!--My name preference-->
<h1>My preferred name is Connor!</h1>

<!--Image of something that I like to do-->
<img src="img/IMG_4570.jpg" width=400 height=500 />
<h5>
    The above photo is a picture of me golfing at a famous golf course in the United States, which is called
    Bandon Dunes in Oregon. I love to golf!
</h5>

<!--Paragraph about what I hope to learn in this class-->
<p>
    &nbspIn this class, I hope to not only learn C# and ASP.NET, but sharpen my overall programming skills and understand exactly
    why things function the way that they do when it comes to coding. I hope to grow in my ability to think critically and
    solve issues that arrive through research and intuition.
    I want to gain a deep understanding of object-oriented programming along with other progamming basics that will
    only help me in my future career and in my life.
</p>

<!--Top career choices-->
<h3>&nbspTop 3 career choices post graduation:</h3>
<ol>
    <li>University Professor</li>
    <li>Data Analytics</li>
    <li>Software Development</li>
</ol>



